attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
Flask==2.0.1
Flask-HTTPAuth==4.4.0
Flask-Selfdoc==1.2.3
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
requests==2.26.0
SQLAlchemy==1.4.22
toml==0.10.2
urllib3==1.26.6
Werkzeug==2.0.1
